<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>TITULO</title>
  <script type='text/javascript' src='lib/descartes-min.js'></script>
</head>

<body style="padding:0; margin:0; background:#eff0f1;">

  <div align="center">
    <ajs name="Descartes" width="970" height="550" code="Descartes">
      <param name="decimal_symbol" value=".">
      <param name="image_loader" value="">
      <param name="expand" value="">
      <param name="Versión" value="5.5">
      <param name="editable" value="no">
      <param name="Idioma" value="español">
      <param name="Botones" value="créditos='no' config='no' inicio='no' limpiar='no' filas_norte='0' filas_sur='0' ancho_este='150' ancho_oeste='150' alto='40' ">
      <param name="E_01" value="tipo='R2' id='E1' ">
      <param name="A_01" value="id='INICIO' algoritmo='sí' evaluar='una-sola-vez' ">
      <param name="A_02" value="id='CALCULOS' algoritmo='sí' evaluar='siempre' ">
    </ajs>
  </div>

</body>
</html>