<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>TITULO</title>
  <script type='text/javascript' src='lib/descartes-min.js'></script>
</head>

<body style="margin:0; background:#eff0f1;">

  <div align="center">
    <ajs name="Descartes" width="970" height="550" code="Descartes">
      <param name="tamaño" value="970x550">
      <param name="decimal_symbol" value=".">
      <param name="image_loader" value="">
      <param name="expand" value="">
      <param name="nombre" value="Descartes">
      <param name="Versión" value="5.5">
      <param name="antialias" value="sí">
      <param name="deshacer" value="no">
      <param name="editable" value="no">
      <param name="Idioma" value="español">
      <param name="Botones" value="créditos=no config=no inicio=no limpiar=no filas_norte=0 filas_sur=0 ancho_este=150 ancho_oeste=150 alto=40 ">
      <param name="E_01" value="tipo='R2' id='E1' x='0' y='0' ancho='100%' alto='100%' dibujar-si='1' fijo='no' escala='48' O.x='0' O.y='0' despl_imagen='arr-izq' fondo='ffffff' red='c0c0c0' red10='808080' ejes='404040' texto='no' números='no' resizable='false' sensible_a_los_movimientos_del_ratón='no' ">
      <param name="A_01" value="id='INICIO' algoritmo='sí' evaluar='una-sola-vez' ">
      <param name="A_02" value="id='CALCULOS' algoritmo='sí' evaluar='siempre' ">
      <param name="G_01" value="espacio='E1' tipo='texto' fondo='no' color='20303a' coord_abs='sí' expresión='(20,20)' decimales='2' fijo='sí' ancho='1' negrita='no' cursiva='no' font_family='SansSerif' fuente puntos='18' align='a_left' anchor='a_top_left' ">
    </ajs>
  </div>

</body>
</html>