/*@import url("definitions.css");*/

input[type=checkbox] {
	position: relative;
	right: 10px;
	bottom: 0px;
	width: 18px;
	height: 18px;
}
input[type=checkbox]::before {
	display: inline-block;
	content: "";
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 18px;
	height: 18px;
	background: var(--input-background);
	border: 1px solid var(--input-border);
}
input[type=checkbox]::after {
	display: inline-block;
	content: "";
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 18px;
	height: 18px;
	background: var(--input-background);
	border: 1px solid var(--input-border);
}
input[type=checkbox]:checked::after {
	content: "";
	background: var(--input-text);
	-webkit-mask: url("icons/marked.svg") center center no-repeat;
	-webkit-mask-size: contain;
}
input[type=checkbox]:focus {
	outline: 1px solid var(--focus-border);
}