@import url("../fonts/font.css");
@import url("dialog.css");

iframe {
	margin: 20px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	vertical-align: text-top;
}

.editor_buttons {
	display: inline-block;
	position: relative;
	margin: 20px 15px 0px -10px;
	width: 34px;
	height: 80px;
	vertical-align: text-top;
}

.descartes_edit_button,
.descartes_code_edit_button {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	cursor: pointer;
	border: 2px outset #bbb;
}
.descartes_edit_button {
	top: 0;
	background:  #ecf0f1 url("icons/configuration.svg") center center no-repeat;
	background-size: contain;
}
.descartes_code_edit_button {
	top: 50px;
	background:  #ecf0f1 url("icons/htmlCode.svg") center center no-repeat;
	background-size: contain;
}

div .textEditorTextArea,
div .textEditorTextArea:focus {
	background: #fff;
	border-radius: 2px;
	outline: 1px solid var(--input-border);
}

#bottom_buttons button, 
.DialogBtnContainer button {
	font-family: editorDescartesJS_sansserif;
	font-weight: bold;
	font-size: 15px;
	line-height: 12px;
	width: 90px;
	height: 30px;
	padding: 5px;
	margin: 5px 2.5px;
}
button {
	background-color: var(--buttons-background);
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.25);
	cursor: pointer;
}
button:hover {
	background: var(--buttons-hover);
}

#container {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 22px;
	bottom: 0px;
	background: var(--editor-background);
	text-align: center;
	overflow: auto;
}
.SceneContainer {
	display: inline-block;
	white-space: nowrap;
}