html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --forumla-outline: 1px dotted #aaa;
  --formula-min-width: 2px;
  --toolbar-height: 30px;
}

.RTFtextEditor {
  position: relative;
	background: var(--input-background);
	border-radius: 2px;
  outline: 1px solid var(--input-border);
  cursor: text;
  overflow: auto;
}

.textEditorCanvas {
  margin: 5px;
  position: relative;
  position: absolute;
}

.Caret {
  position: absolute;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}