/* variable definitions */
:root{
  --editor-background: #72B0D9;

	--panel-background: #72B0D9;
	--border-panel: #9FCEEC;
	
	--buttons-panel-color: #72B0D9;
	--buttons-background: #2F77A5;
	--buttons-hover: #72B0D9;
	--buttons-text: #D3EBFA;
	
	--tabs-background: #72B0D9;
	--tabs-text: #044168;
	--tabs-background-selected: #9FCEEC;
	--tabs-text-selected: #022F4C;

	--parameter-background: #72B0D9;
	--parameter-border: #2F77A5;
	--parameter-text: #022F4C;

	--input-background: #D3EBFA;
	--input-border: #022F4C;
	--input-text: #022F4C;
	--input-text-invert: #D3EBFA;
	
	--list-panel-background: #D3EBFA;
	--list-panel-border: #022F4C;
	--list-panel-even-background: #4D93C1;
	--list-panel-odd-background: #D3EBFA;
	--list-panel-hover-background: #FF7F53;
	--list-panel-hover-text: #022F4C;
	--list-panel-active-background: #FF7F53;
	--list-panel-active-text: #FFF;
	--list-panel-text: #022F4C;
	
	--range-border: #333;
	--range-background: #EEE;
	--range-slider-background: #60A1D9;
	--range-slider-focus-background: #4081B9;
	
	--disable-background: #044168;
	
	--focus-border: #060A53;

	--richTextEditor-button-background: #EEE;

	--color-button-border: #9FCEEC;

	--dialog-background: var(--parameter-background);
	--dialog-body-background: #72B0D9;
	--dialog-title: #022F4C;
	--dialog-btn: #fff;
	
	--list-code-background-panel-even: var(--input-background);
	--list-code-text-panel-even: var(--input-text);
	--list-code-background-panel-odd: var(--list-panel-even-background);
	--list-code-text-panel-odd: var(--list-panel-text);
	--list-numbers: var(--input-text);

	--select-image: url("icons/menu_mark.svg");
}