/* variable definitions */
:root{
  --editor-background: #333;

	--panel-background: #263238;
	--border-panel: #000;

	--buttons-panel-color: #263238;
	--buttons-background: #404a50;
	--buttons-hover: #313538;
	--buttons-text: #D9DBDC;

	--tabs-background: #263238;
	--tabs-text: #C6D4D8;
	--tabs-background-selected: #000;
	--tabs-text-selected: #fff;

	--parameter-background: #404A50;
	--parameter-border: #1C2429;
	--parameter-text: #D9DBDC;

	--input-background: #313c42;
	--input-border: #1c2429;
	--input-text: #FFF;
	--input-text-invert: #000;

	--list-panel-background: var(--parameter-background);
	--list-panel-border: #161616;
	--list-panel-even-background: #252525;
	--list-panel-odd-background: #282828;
	--list-panel-hover-background: #8F8F99;
	--list-panel-hover-text: #000D10;
	--list-panel-active-background: #7077A0;
	--list-panel-active-text: #000;
	--list-panel-text: #D9DBDC;
		
	--range-border: #333;
	--range-background: #EEE;
	--range-slider-background: #60A1D9;
	--range-slider-focus-background: #4081B9;
	
	--disable-background: #AAA;
	
	--focus-border: #93D2F1;

	--richTextEditor-button-background: #EEE;

	--color-button-border: #969899;

	--dialog-background: var(--parameter-background);
	--dialog-body-background: #404A50;
	--dialog-title: rgba(255, 255, 255, 0.85);
	--dialog-btn: #C6D4D8;
	
	--list-code-background-panel-even: var(--input-background);
	--list-code-text-panel-even: var(--input-text);
	--list-code-background-panel-odd: var(--list-panel-even-background);
	--list-code-text-panel-odd: var(--list-panel-text);
	--list-numbers: var(--input-text);

	--select-image: url("icons/menu_mark_light.svg");
}